<h1>Listing minimal_risk_portfolios</h1>

<table>
  <tr>
  </tr>

<% @minimal_risk_portfolios.each do |minimal_risk_portfolio| %>
  <tr>
    <td><%= link_to 'Show', minimal_risk_portfolio %></td>
    <td><%= link_to 'Edit', edit_minimal_risk_portfolio_path(minimal_risk_portfolio) %></td>
    <td><%= link_to 'Destroy', minimal_risk_portfolio, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New minimal_risk_portfolio', new_minimal_risk_portfolio_path %>