<h1>New minimal_risk_portfolio</h1>

<% form_for(@minimal_risk_portfolio) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', minimal_risk_portfolios_path %>